body{

}
#SecCanvas{
    border: 1px solid black;
    position:absolute;

}

#canvas {
    border: 1px solid black;
    position:absolute;
}

.image-container{

}

.submit{

}

.change{

}

.chooseFile {
    padding-top: 507px;
}


#imageText{

}

#hiddenImage{
    display: none;
}