.find-property {
    height: 540px;
    margin-top: 5px;
}

.radio-buttons {
    width: 678px;
}

.radio-buttons input{
    display:none;
}

.radio-buttons label {
    padding-right: 15px;
    font-size: 22px;
}

input[type="radio"]:checked+label{
    background: #cddfffa2;

}

.search-container {
    width: 581px;
    height: 376px;
    margin-left: 361px;
    padding-top: 120px;
}

.search-item {
    height: 210px;
    background: #cddfffa2;
}

.search-item input{

}

.search-item label {
    padding-right: 10px;
    padding-top: 46px;
    padding-left: 14px;
}
.row{

}

#district,#area{

}

#maxprice,#minprice{

}

.submit-button-search {
    margin-top: 30px;
    margin-left: 246px;
}

.search-button {
    background: #e2c4f2;
}